---
import { Icon } from 'astro-icon/components'

const { title, comentarios, urlGitHub, repoUrl, defaultBranch } = Astro.props
---

<div class="feature m-3">
	<div class="flex h-full w-full flex-col">
		<h3 class="p-2 text-xl">{title}</h3>
		<ul>
			{comentarios.map((comentario) => <li>{comentario.name}</li>)}
		</ul>
		<a
			href={urlGitHub}
			class="has-icon button max-h-15 is-desktop">
			<Icon name="ion:logo-github" />
			Aceptar la asignación
		</a>
		<a
			href={urlGitHub}
			class="is-mobile has-icon button">
			<Icon name="ion:logo-github" />Ir al repositorio</a
		>
		<a
			href={`https://github.com/${repoUrl}/blob/${defaultBranch}/README.md`}
			target="_blank"
			class="has-icon button preview-button">
			<Icon name="ion:eye" />
			Preview Dominio
		</a>
	</div>
</div>

<style lang="scss">
	@use '../assets/scss/base/breakpoint' as *;

	.feature {
		position: relative;
		width: calc(100% - 0.5rem);
		padding: 2rem;

		> * {
			position: relative;
			z-index: 2;
		}

		@include breakpoint(large) {
			width: 70%;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			inset: 0;
			background-color: var(--neutral-100);
			border: 3px solid var(--neutral-700);
			border-radius: 1rem;
			box-shadow: 0 0 0 6px var(--neutral-100);
			z-index: 1;
		}

		&::after {
			background-color: var(--action-color);
			inset: 1rem -0.85rem -0.85rem 1rem;
			border-radius: 1rem;
			z-index: 0;
		}
	}

	:global(.feature [data-icon]) {
		height: auto;
		width: 4rem;
		color: var(--action-color);
	}

	:global(.darkmode .feature::before) {
		background-color: var(--dark-100);
		box-shadow: 0 0 0 6px var(--dark-100);
	}

	a {
		background-color: var(--neutral-900) !important;
		border-width: 0;
		width: 95%;
		color: white;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		text-align: center;
	}

	a:hover {
		background-color: black !important;
	}

	.preview-button:visited {
		color: lightgray; /* Elige un color visible que se adapte a tu diseño */
	}

	.is-mobile {
		@media (max-width: 550px) {
			width: 12rem;
			height: 3rem;
			display: flex;
		}
		@media (min-width: 550px) {
			display: none;
		}
	}

	.is-desktop {
		@media (max-width: 550px) {
			display: none;
		}
		@media (min-width: 550px) {
			display: flex;
		}
	}
</style>
