---
import CardHorario from './CardHorario.astro'
import CardSecciones from './CardSecciones.astro'

const { horarios } = Astro.props
---

<CardSecciones title="Horarios">
	<ul>
		{
			horarios.map((horario) => (
				<li>
					<CardHorario
						mensaje={horario.Mensaje}
						comision={horario.Comision}
						modalidad={horario.Modalidad}
						dia={horario.Dia}
						hora={horario.Hora}
						url={horario.URL}
						aula={horario.Aula}
						edificio={horario.Edificio}
					/>
				</li>
			))
		}
	</ul>
</CardSecciones>
