---
import { Breadcrumbs } from 'accessible-astro-components'
import { BreadcrumbsItem } from 'accessible-astro-components'
import { PATH, PATH_CURSADA } from '@/paths.js'
import LayoutSemanas from './LayoutSemanas.astro'
import VideosDeSemana from '@components/VideosDeSemana.astro'
import ActividadesDeSemana from '@components/ActividadesDeSemana.astro'
import HorariosDeSemana from '@components/HorariosDeSemana.astro'
import CardSecciones from '@/components/CardSecciones.astro'

const { frontmatter } = Astro.props

const { title, videos, horarios, ejercicios, atencion, importante } =
	frontmatter
---

<LayoutSemanas title={title}>
	<div class="container">
		<div class="mt-12">
			<Breadcrumbs>
				<BreadcrumbsItem
					href={PATH}
					label="Inicio"
				/>
				<BreadcrumbsItem
					href={PATH_CURSADA}
					label="Cursada"
				/>
				<BreadcrumbsItem
					currentPage={true}
					label={title}
				/>
			</Breadcrumbs>
		</div>
	</div>

	<div class="container">
		<div class="my-12">
			<h1 class="pb-3">{title}</h1>
			{
				atencion ? (
					<CardSecciones
						title="Atención"
						atencion>
						{atencion}
					</CardSecciones>
				) : null
			}
			{
				importante ? (
					<CardSecciones
						title="Importante"
						importante>
						{importante}
					</CardSecciones>
				) : null
			}
			<div class="pb-2">
				<slot />
			</div>
			{horarios ? <HorariosDeSemana horarios={horarios} /> : null}
			{
				videos && (
					<VideosDeSemana
						titulo="Videos"
						videos={videos}
					/>
				)
			}
			<ActividadesDeSemana ejercicios={ejercicios} />
		</div>
	</div>
</LayoutSemanas>
